{% extends "::base.html.twig" %}

{% block title %}
    Nauja paslaptis - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row body-order">
        <div class="col-lg-10 col-sm-12 col-lg-offset-1 content-bg">
            <div class="order-container">
                <h1>You have compleated all adventures</h1>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}