@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./node_modules/bootstrap-social/bootstrap-social.scss";
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body-footer {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #836d5e;
}

.body-parallax {
  padding: 0;
  padding-bottom: 0;
}

//.body-content {
//  margin-top: 52px;
//  padding: 0;
//}

.body-order {
  padding-top: 50px;
}

.parallax-window {
  height: 770px;
  background: transparent;
  text-align: center;
}

.parallax-text {
  max-height: 200px;
  background-color: rgba(172,170,159,0.6);
}

.parallax-transparent {
 background-color: rgba(240,240,240,0.3);
}

.message, .order-message {
  font-size: 45px;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-family: 'Dosis', sans-serif;
}

.order-message {
  padding-top: 350px;
}

.logo-text {
  padding-left: 40px;
  text-decoration: none;
  color: darkred !important;
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
}

//.fb-image {
//  width: 20px;
//}

.body-about, .body-user-profile {
  margin-top: 100px;
  text-align: center;
}

.button-order-now {
  margin: 0 auto;
  float: left;
  min-width: 300px;
  max-width: 325px;
  font-size: 40px;
  //background-color: #C24641;
  background-color: #f3dfd4;
  //color:  #42BEC2;
  color: darkred;
  //border: 1px solid black;
}

.button-order-now:hover {
  background-color: #483c32;
  color: #fffff8;
}

.home-impressions {
  background: rgba(255,255,255,0.95);
  width:100%;
  min-height: 770px;
}