@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./node_modules/bootstrap-social/bootstrap-social.scss";
//@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.fa-login {
  color: #3B5998 !important;
  font-size: larger !important;
}

.submenu-divider {
  margin: 10px auto !important;
}

.border-text {
  text-shadow: -1px 0 darkred, 0 1px darkred, 1px 0 darkred, 0 -1px darkred;
}

.accent {
  color: darkred;
  font-size: larger;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: 600;
}
//body {
//  background: url("../images/bg.jpg") no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}
//
//.body-footer {
//  visibility: hidden;
//  position: absolute;
//  bottom: 0;
//  width: 100%;
//  height: 60px;
//  background-color: #836d5e;
//}
//
///* Carousel */
//.carousel {
//  //width: 50vw;
//  height: 100vh;
//  margin-bottom: 80px;
//}
//
//.carousel-caption {
//  z-index: 10;
//}
//
//.carousel .item {
//  height: 100vh;
//  background-color: #777;
//}
//
//.carousel-inner > .item > img {
//  position: absolute;
//  top: 0;
//  left: 0;
//  min-width: 100%;
//  height: 100vh;
//  object-fit: cover;
//}
//
//.carousel-caption {
//  background-color: rgba(181,162,162,0.7);
//  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
//  border-radius: 100px 50px;
//}
//
//.carousel-indicators{
//  color: #0a568c;
//}
//
///* end Carousel */
//
//.message, .order-message {
//  font-size: 45px;
//  font-weight: 700;
//  color: white;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  //height: 200px;
//  font-family: 'Dosis', sans-serif;
//
//  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
//  -moz-animation: fadein 4s; /* Firefox < 16 */
//  -ms-animation: fadein 4s; /* Internet Explorer */
//  -o-animation: fadein 4s; /* Opera < 12.1 */
//  animation: fadein 4s;
//
//}
//
//.order-message {
//  padding-top: 350px;
//}
//
//.logo-text {
//  padding-left: 40px;
//  text-decoration: none;
//  color: darkred !important;
//  font-size: xx-large;
//  font-family: 'Montserrat', sans-serif;
//}
//
//.body-user-profile, .body-order {
//  margin-top: 80px;
//  text-align: center;
//}
//
//.content-bg {
//  background: rgba(239,239,233,0.8);
//  padding-bottom: 15px;
//}
//
//.body-about {
//  margin-bottom: 100px;
//}
//.about-container{
//  margin: 30px 0 0;
//  background: white;
//  min-height: 80vh;
//}
//
//.about-content {
//  padding-top: 25vh;
//  padding-left: 50px;
//}
//
//.button-order-now {
//  margin: 0 auto;
//  float: left;
//  min-width: 300px;
//  max-width: 325px;
//  font-size: 40px;
//  //background-color: #C24641;
//  background-color: #f3dfd4;
//  //color:  #42BEC2;
//  color: darkred;
//  //border: 1px solid black;
//}
//
//.button-order-now:hover {
//  background-color: #483c32;
//  color: #fffff8;
//}
//
//.home-impressions {
//  background: rgba(255,255,255,0.95);
//  width:100%;
//  min-height: 770px;
//}
//
//@keyframes fadein {
//  from { opacity: 0; }
//  to   { opacity: 1; }
//}
//
///* Firefox < 16 */
//@-moz-keyframes fadein {
//  from { opacity: 0; }
//  to   { opacity: 1; }
//}
//
///* Safari, Chrome and Opera > 12.1 */
//@-webkit-keyframes fadein {
//  from { opacity: 0; }
//  to   { opacity: 1; }
//}
//
///* Internet Explorer */
//@-ms-keyframes fadein {
//  from { opacity: 0; }
//  to   { opacity: 1; }
//}
//
///* Opera < 12.1 */
//@-o-keyframes fadein {
//  from { opacity: 0; }
//  to   { opacity: 1; }
//}
//
//.about-heading {
//  color: darkred;
//}
//
//.scroll-element {
//  padding-bottom: 80px;
//}
//
//.order-container {
//  margin: 30px 0 0;
//  background: white;
//  min-height: 80vh;
//  padding-top: 30px;
//}