@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./node_modules/bootstrap-social/bootstrap-social.scss";

#section-homepage {
  padding-top: 35vh;
  padding-bottom: 70px;
}

.fa-login {
  color: #3B5998 !important;
  font-size: larger !important;
}

.submenu-divider {
  margin: 10px auto !important;
}

.border-text {
  text-shadow: -1px 0 darkred, 0 1px darkred, 1px 0 darkred, 0 -1px darkred;
}

.accent {
  color: darkred;
  font-size: larger;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: 600;
}

.gallery-item img {
  object-fit: cover;
  height: 30vh;
}
