.order-btn span.glyphicon, .delivery-btn span.glyphicon, .payment-btn span.glyphicon {
  opacity: 0 !important;
}
.order-btn.active span.glyphicon, .delivery-btn.active span.glyphicon, .payment-btn.active span.glyphicon {
  opacity: 1 !important;
}

.order-btn {
  margin: 0 50px 50px 0 !important;
  width: 250px;
}

.delivery-btn {
  margin: 0 50px 50px 0 !important;
  width: 350px;
}

.order-btn.active, .delivery-btn.active, .payment-btn.active {
  background-color: #aa4545 !important;
  border: 2px solid darkred !important;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: bolder !important;
}

.btn-gfort-grey:hover {
  color: white !important;
}

.order-title {
  font-size: x-large;
  display: block;
}

.order-price {
  font-size: xx-large;
  display: block;
  font-weight: bold;
}

.order-address, .order-contact, .payment-type {
  display: none;
  visibility: hidden;
  position: absolute;
  width: 100%;
}

.order-text-input {
  width: 100%;
  padding-left: 10px;
}

input[type="text"], input[type="email"] {
  font-size: 25px;
  line-height: 50px !important;
}
.label-hidden {
  display: none;
  color:  red;
}

#btn-detect-parcel {
  width: 220px;
  margin-top: 3px;
  font-size: 16px;
  color: black;
}

.parcel-loading {
  display: none;
}

.parcel-loading img {
  display: inline-block;
}

.parcel-loading-text {
  display: inline-block;
}

#home-delivery, #parcel-delivery {
  display: none;
  visibility: hidden;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.payment-btn {
  margin: 0 50px 50px 0 !important;
  width: 250px;
  height: 100px;
}

.payment-btn img {
  display: block;
  width: 200px;
}

.parcel-loading img {
  width: 50px;
}
