.order-btn span.glyphicon, .delivery-btn span.glyphicon  {
  opacity: 0 !important;
}
.order-btn.active span.glyphicon, .delivery-btn.active span.glyphicon {
  opacity: 1 !important;
}

.order-btn {
  margin: 0 50px 50px 0 !important;
  width: 250px;
}

.delivery-btn {
  margin: 0 50px 50px 0 !important;
  width: 350px;
}

.order-btn.active, .delivery-btn.active, .payment-btn.active {
  background-color: #4cae4c !important;
  border: 2px solid darkred !important;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: bolder !important;
}

.order-title {
  font-size: x-large;
  display: block;
}

.order-price {
  font-size: xx-large;
  display: block;
  font-weight: bold;
}

.order-address, .order-contact, .payment-type {
  display: none;
  visibility: hidden;
  position: absolute;
  width: 100%;
}

#home-delivery, #parcel-delivery {
  display: none;
  visibility: hidden;
  width: 100%;
  position: absolute;
  //border: 1px solid blue;
  z-index: 10;
}


.parcel-select {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  border: 1px solid #4cae4c !important;
  //width: 300px !important;

}
.payment-btn {
  margin: 0 50px 50px 0 !important;
  width: 250px;
  height: 100px;
}

.payment-btn img {
  display: block;
  width: 200px;
}



//.arrow_box, .reward {
//  position: relative;
//  background: #e8e8e8 ;
//  border: 5px solid #c2e1f5 ;
//  border-radius: 20px;
//  width: 90%;
//  margin-left: 10px;
//
//}
//.arrow_box:after, .arrow_box:before {
//  left: 100%;
//  top: 50%;
//  border: solid transparent;
//  content: " ";
//  height: 0;
//  width: 0;
//  position: absolute;
//  pointer-events: none;
//}
//
//.arrow_box:after {
//  border-color: rgba(136, 183, 213, 0);
//  border-left-color: #e8e8e8 ;
//  border-width: 30px;
//  margin-top: -30px;
//}
//.arrow_box:before {
//  border-color: rgba(194, 225, 245, 0);
//  border-left-color: #c2e1f5 ;
//  border-width: 37px;
//  margin-top: -37px;
//}
/**
 *
 * Float label Style
 *
 */
.float-label-control { position: relative; margin-bottom: 1.5em; }
.float-label-control ::-webkit-input-placeholder { color: transparent; }
.float-label-control :-moz-placeholder { color: transparent; }
.float-label-control ::-moz-placeholder { color: transparent; }
.float-label-control :-ms-input-placeholder { color: transparent; }
.float-label-control input:-webkit-autofill,
.float-label-control textarea:-webkit-autofill { background-color: transparent !important; -webkit-box-shadow: 0 0 0 1000px white inset !important; -moz-box-shadow: 0 0 0 1000px white inset !important; box-shadow: 0 0 0 1000px white inset !important; }
.float-label-control input, .float-label-control textarea, .float-label-control label { font-size: 1.3em; box-shadow: none; -webkit-box-shadow: none; }
.float-label-control input:focus,
.float-label-control textarea:focus { box-shadow: none; -webkit-box-shadow: none; border-bottom-color: #0b79e5; border-bottom-width: 2px; padding-bottom: 0; }
.float-label-control textarea:focus { padding-bottom: 4px; }
.float-label-control input, .float-label-control textarea { display: block; width: 100%; padding: 0.1em 0em 1px 0em; border: none; border-radius: 0px; border-bottom: 1px solid #aaa; outline: none; margin: 0px; background: none; }
.float-label-control textarea { padding: 0.1em 0em 5px 0em; }
.float-label-control label { position: absolute; font-weight: normal; top: -1.0em; left: 0.08em; color: #aaaaaa; z-index: -1; font-size: 0.85em; -moz-animation: float-labels 300ms none ease-out; -webkit-animation: float-labels 300ms none ease-out; -o-animation: float-labels 300ms none ease-out; -ms-animation: float-labels 300ms none ease-out; -khtml-animation: float-labels 300ms none ease-out; animation: float-labels 300ms none ease-out; /* There is a bug sometimes pausing the animation. This avoids that.*/ animation-play-state: running !important; -webkit-animation-play-state: running !important; }
.float-label-control input.empty + label,
.float-label-control textarea.empty + label { top: 0.1em; font-size: 1.5em; animation: none; -webkit-animation: none; }
.float-label-control input:not(.empty) + label,
.float-label-control textarea:not(.empty) + label { z-index: 1; }
.float-label-control input:not(.empty):focus + label,
.float-label-control textarea:not(.empty):focus + label { color: #aaaaaa; }
.float-label-control.label-bottom label { -moz-animation: float-labels-bottom 300ms none ease-out; -webkit-animation: float-labels-bottom 300ms none ease-out; -o-animation: float-labels-bottom 300ms none ease-out; -ms-animation: float-labels-bottom 300ms none ease-out; -khtml-animation: float-labels-bottom 300ms none ease-out; animation: float-labels-bottom 300ms none ease-out; }
.float-label-control.label-bottom input:not(.empty) + label,
.float-label-control.label-bottom textarea:not(.empty) + label { top: 3em; }


@keyframes float-labels {
  0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
  20% { font-size: 1.5em; opacity: 0; }
  30% { top: 0.1em; }
  50% { opacity: 0; font-size: 0.85em; }
  100% { top: -1em; opacity: 1; }
}

@-webkit-keyframes float-labels {
  0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
  20% { font-size: 1.5em; opacity: 0; }
  30% { top: 0.1em; }
  50% { opacity: 0; font-size: 0.85em; }
  100% { top: -1em; opacity: 1; }
}

@keyframes float-labels-bottom {
  0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
  20% { font-size: 1.5em; opacity: 0; }
  30% { top: 0.1em; }
  50% { opacity: 0; font-size: 0.85em; }
  100% { top: 3em; opacity: 1; }
}

@-webkit-keyframes float-labels-bottom {
  0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
  20% { font-size: 1.5em; opacity: 0; }
  30% { top: 0.1em; }
  50% { opacity: 0; font-size: 0.85em; }
  100% { top: 3em; opacity: 1; }
}
