{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
{% endblock %}



{% block title %}
    Apie - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="body-about">
        <h1>{{ 'content.about'|trans }}</h1>
    </div>




{% endblock %}