<footer class="footer-section">
    <div class="footer-copyright-section">
        <div class="footer-copyright-section-container">
            <div class="container">
                <div class="row">
                    <div class="copyright-widget widget-left-side">
                        <div class="copyright-widget-container">
                            <div class="info-block">
                                <div class="info-block-container">
                                    <p>&copy; 2017
                                        <a href="http://secretbox.projektai.nfqakademija.lt" title="Secret box">
                                            SECRET BOX
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright-widget widget-right-side">
                        <div class="copyright-widget-container">
                            <div class="info-block">
                                <div class="info-block-container">
                                    <p>
                                        <i class="glyphicon glyphicon-earphone"></i>
                                        <a href="tel:+370 652 24499" title="+370 652 24499">+370 652 24499</a>
                                        <span class="gfort-dash">-</span>
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:info@secretbox.lt" title="info@secretbox.lt">
                                            info@secretbox.lt
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
