<footer class="footer-section">


    <!-- Footer copyright Section -->
    <div class="footer-copyright-section">
        <!-- Footer copyright Section Container -->
        <div class="footer-copyright-section-container">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- copyright Widget ( Left ) -->
                    <div class="copyright-widget widget-left-side">
                        <!-- copyright Widget Container -->
                        <div class="copyright-widget-container">


                            <!-- Info Block -->
                            <div class="info-block">
                                <!-- Info Block Container -->
                                <div class="info-block-container">

                                    <p>&copy; 2017 <a href="http://www.secretbox.lt" title="Secret box">Secret box</a>, visos teisės saugomos.</p>

                                </div><!-- /End Info Block Container -->
                            </div><!-- /End Info Block -->


                        </div><!-- /End copyright Widget Container -->
                    </div><!-- /End copyright Widget ( Left ) -->


                    <!-- copyright Widget ( Right ) -->
                    <div class="copyright-widget widget-right-side">
                        <!-- copyright Widget Container -->
                        <div class="copyright-widget-container">


                            <!-- Info Block -->
                            <div class="info-block">
                                <!-- Info Block Container -->
                                <div class="info-block-container">

                                    <p><i class="glyphicon glyphicon-earphone"></i> <a href="tel:+370 652 24499" title="+370 652 24499">+370 652 24499</a> <span class="gfort-dash">-</span> <i class="fa fa-envelope"></i> <a href="mailto:info@secretbox.lt" title="info@secretbox.lt">info@secretbox.lt</a></p>

                                </div><!-- /End Info Block Container -->
                            </div><!-- /End Info Block -->


                        </div><!-- /End copyright Widget Container -->
                    </div><!-- /End copyright Widget ( Right ) -->


                </div><!-- /End row -->
            </div><!-- /End container -->
        </div><!-- /End Footer copyright Section Container -->
    </div><!-- /End Footer copyright Section -->


</footer><!-- /End Footer Section -->
